//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-main {
  color: $white;
  background-color: $black-cod;

  .column-image {
    max-width: 350px;
    max-height: 40px;
  }

  .social-media {
    display: flex;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: $white;
  background: rgb(76,113,190);
  background: linear-gradient(135deg, rgba(76,113,190,1) 0%, rgba(69,178,227,1) 100%);
}