//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-main {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 22px 0;
  opacity: 1;
  transition: .35s ease-in-out all;

  .logo-link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $brand-color;

    @include on-event() {
      text-decoration: none;
      outline: none;
    }
  }

  .logo-image {
    position: relative;
    z-index: 11;
    display: flex;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 40px;
    transition: .35s ease-in-out all;
  }

  .navbar {
    padding: 0;
    transition: .35s ease-in-out all;
    
    .navbar-nav {
      position: relative;
      align-items: center;
      margin-left: auto;

      & > li:not(:first-child) {
        margin-left: 20px;
      }

      a {
        position: relative;
        padding: 2px;
        font-family: $font-open-sans-regular;
        font-size: 16px;
        line-height: 1.7;
        color: $white;
        transition: .35s ease-in-out all;
        text-decoration: none;
        text-align: center;
        outline: none;

        @include on-event() {
          color: $brand-color;
        }
      }
    
      .menu-dropdown {
        @include on-event() {
          ul {
            opacity: 1;
            top: 100%;
            margin-top: -6px;
            pointer-events: all;
          }
        }

        ul {
          position: absolute;
          top: 150%;
          z-index: 1;
          display: flex;
          flex-direction: column;
          margin-left: -15px;
          padding: 7px 0;
          background-color: $white;
          opacity: 0;
          pointer-events: none;
          transition: .35s ease-in-out all;

          a {
            display: flex;
            padding: 5px 15px;
            font-size: 14px;
            color: $black-cod;
            background-color: $white;
    
            &:before {
              display: none;
            }
    
            @include on-event() {
              color: $brand-color;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1499px) {
    padding: 20px 0;

    .logo-image {
      max-width: 250px;
      max-height: 25px;
    }

    .navbar .navbar-nav a {
      font-size: 14px;
    }
  }

  @media (min-width: 1200px) {
    .navbar .navbar-nav .button a {
      padding: 8px 15px;
      font-family: $font-open-sans-bold;
      background: rgb(76,113,190);
      background: linear-gradient(90deg, rgba(76,113,190,1) 0%, rgba(69,178,227,1) 100%);
      border-radius: 5px;

      @include on-event() {
        color: $white;
      }
    }
  }

  @media (max-width: 1199px) {
    padding: 15px 0;

    &.header-main-dark {
      background-color: rgba(0,0,0,.8);
    }

    .container-fluid {
      position: relative;
    }

    .navbar {
      padding: 0 15px;

      .container {
        max-width: 100%;
      }

      .navbar-nav {
        width: 100%;

        & > li:not(:first-child) {
          margin-left: initial;
        }

        li {
          position: relative;
          width: 100%;

          span {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $blue-mariner;
            transition: .35s ease-in-out all;
            opacity: 0;
          }

          &:hover {
            span {
              height: 100%;
              opacity: 1;
            }
          }
        }

        a {
          position: relative;
          z-index: 2;
          font-size: 30px;

          @include on-event() {
            color: $white;
          }
        }

        .menu-dropdown ul {
          position: relative;
          top: initial;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -5px;
          margin-left: initial;
          background-color: transparent;
          opacity: 1;

          a {
            font-size: 20px;
            color: $white;
            background-color: transparent;

            @include on-event() {
              color: $white;
            }
          }
        }
      }
    }

    .navbar-toggler {
      position: relative;
      z-index: 11;
    }

    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      display: flex;
      margin-top: 15px;
      margin-right: -15px;
      width: calc(100% + 30px);
      height: calc(100vh - 70px);
      min-height: 730px;
      background: rgb(76,113,190);
      background: linear-gradient(135deg, rgba(76,113,190,1) 0%, rgba(69,178,227,1) 100%);
      transition: .5s ease-in-out all;
      opacity: 0;
      pointer-events: none;

      &.navbar-menu-show {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @media (max-width: 991px) {
    // .navbar-collapse {
    //   min-height: 570px;
    // }

    .navbar-collapse {
      align-items: flex-start;
      overflow: auto;
      min-height: initial;
      
      .navbar-nav {
        padding: 15px 0;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0;

    .logo-image {
      max-width: 185px;
      max-height: 20px;
    }

    .navbar .navbar-nav {
      a {
        font-size: 20px;
      }

      .menu-dropdown ul a {
        font-size: 14px;
      }
    }

    .navbar-collapse {
      margin-top: 10px;
      height: calc(100vh - 60px);
      min-height: 400px;
    }

    .navbar-toggler {
      padding-right: 0;
    }
  }

  // @media (min-width: 441px) and (max-width: 767px) {
  //   .navbar-collapse {
  //     align-items: flex-start;
  //     overflow: auto;
  //     min-height: initial;
      
  //     .navbar-nav {
  //       padding: 15px 0;
  //     }
  //   }
  // }

  @media (max-width: 575px) {
    .navbar-collapse {
      min-height: initial;
    }
  }

  @media (max-width: 440px) {
    .logo-image {
      max-width: 170px;
      max-height: 18px;
    }

    .navbar-collapse {
      align-items: center;
    }
  }
}
