//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------

.page-contact {
  .contact-form {
    padding: 50px 0 80px;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      width: 50px;
      height: 50px;
      color: $white;
      font-size: 28px;
      text-decoration: none;
      border-radius: 8px;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
      transition: .35s ease-in-out all;

      &:hover {
        border-radius: 50%;
      }
    }

    .facebook a {
      background-color: #4064ac;
    }

    .instagram a {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      
    }

    .twitter a {
      background-color: #1c9be9;
    }
  }

  .text-content {
    margin-bottom: 40px;
    color: $black-cod;

    p {
      font-size: 22px;
    }

    strong, b {
      font-family: $font-open-sans-bold;
    }
  }

  .form {
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      padding: 25px;
      width: 100%;
      max-width: 850px;
      background-color: #f3f3f3;
    }

    .column {
      width: calc(33.33% - 12px);
      margin-bottom: 25px;
    }

    .column-full,
    .column-button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 0;
    }

    .wpcf7-form-control-wrap {
      width: 100%;
    }

    input, textarea {
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 10px 15px;
      box-shadow: none;
      border: 0;
      outline: none;
      font-size: 15px;
      transition: .35s ease-in-out all;

      &:focus {
        box-shadow: 0px 2px 10px rgba(0,0,0,.1);
        border: 0;
      }
    }

    .wpcf7-textarea {
      height: 160px;
      resize: none;
    }

    .wpcf7-submit {
      width: 140px;
      padding: 8px 15px;
      margin-top: 30px;
      font-family: $font-open-sans-bold;
      font-size: 18px;
      color: $white;
      background: $brand-color;
      background: -webkit-gradient(linear,left top,right top,from(#4c71be),to(#45b2e3));
      background: linear-gradient(90deg,#4c71be 0,#45b2e3 100%);
      border-radius: 5px;
      cursor: pointer;
      transition: .35s ease-in-out all;

      &:hover {
        box-shadow: 0px 2px 15px rgba(0,0,0,.3);
      }
    }
  }

  @media (max-width: 991px) {
    .form {
      .columns {
        padding: 20px;
      }

      .column {
        margin-bottom: 20px;
      }

      .column-full {
        margin-bottom: 0;
      }

      input, 
      textarea {
        padding: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    .contact-form {
      padding-bottom: 50px;
    }

    .text-content p {
      font-size: 18px;
    }
    
    .form {
      .columns {
        max-width: 400px;
      }

      .column {
        width: 100%;
      }

      input, textarea {
        padding: 10px 15px;
        font-size: 14px;
      }

      .wpcf7-submit {
        padding: 10px 15px;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 575px) {
    .form {
      .wpcf7-submit {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
      }
    }
  }
}