//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  main {
    padding-top: 0;
  }
  
  .header-main {
    background-color: transparent;
    
    &.header-main-dark {
      background-color: rgba(0,0,0,.8);
    }
  }
}