//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single post page.
// -----------------------------------------------------------------------------

.single-post {
  .featured {
    margin-top: 40px;
  }

  .grid {
    padding-top: 60px;
    padding-bottom: 100px;

    .item {
      margin-top: 0;
    }

    .overlay-text {
      opacity: 1;
    }

    .item-title,
    .item-text-overlay {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .grid {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }
}