//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single post page.
// -----------------------------------------------------------------------------

.post {
  .featured {
    margin-top: 40px;
  }

  .grid {
    .item {
      margin-top: 0;
    }

    .overlay-text {
      opacity: 1;
    }

    .item-title,
    .item-text-overlay {
      display: none;
    }
  }
}