//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the subpage.
// -----------------------------------------------------------------------------

.subpage {
  .grid {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    .grid {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }
}