//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the swiper component.
// -----------------------------------------------------------------------------

.swiper-wrapper {
  line-height: 0;
}

.modal-open .header-main {
  filter: blur(3px);
}

.featured-modal {
  padding-right: 0 !important;
  background: rgba(0,0,0,.9);

  .modal-dialog {
    // max-width: calc(100% - 50px);
    max-width: fit-content;
    margin: 0 auto;
    padding: 25px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding: 14px;
    font-size: 46px;
    color: $white;
    line-height: 30px;
    outline: none;
    box-shadow: none;
    opacity: 0.1;
    transition: .35s ease-in-out all;

    &:hover {
      opacity: 0.8;
    }

    span {
      text-shadow: none;
    }
  }

  .modal-content {
    height: calc(100vh - 50px);
    background: transparent;
    border: none;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    img {
      max-width: calc(100vw - 50px);
      max-height: calc(100vh - 50px);
    }
  }
}